body {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.screen {
  background-color: rgb(198, 191, 225);
  height: 150vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

div.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(178, 170, 209);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
div.header__icon {
  margin: 20px 40px;
  width: 33%;
}
div.header__name {
  margin: 20px 40px;
  width: 33%;
  font-size: 0.8cm;
  font-weight: bold;
  text-align: center;
}
div.header__empty {
  margin: 20px 40px;
  width: 33%;
}

div.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}
div.main__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
div.main__image img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
div.main__info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.main__info--title {
  font-size: 1.5cm;
  font-weight: bolder;
  margin-bottom: 20px;
}
div.main__info--singer {
  font-size: 0.5cm;
  font-weight: bold;
}

div.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.button__play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
  border-bottom-width: 5px;
}
div.button__play--text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.6cm;
}
