.play {
  display: flex;
  margin: 0px 25px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 50px;
  width: 350px;
  height: 80px;
  color: white;
}
.play__txt {
  display: flex;
  flex-direction: column;
}
.play__btn i {
  margin-left: 20px;
}
